.parent_project {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgba(193, 209, 225, 0.4);
  flex-wrap: wrap;
}

.live_Projects {
  display: flex;
  flex-direction: column;
  background-color: rgba(149, 200, 254, 0.4);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Added a subtle shadow */
  transition: transform 0.2s ease-in-out; /* Added a smooth hover effect */
  padding: 12px;
}

.projectImage {
  height: 30vh;
  width: 25vw;
}

@media screen and (max-width: 767px) {
  .parent_project {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .projectImage {
    height: 30vh;
    width: 80vw;
  }
}
